.container {
	max-width: 950px;
}

.padded-text {
	padding-left: 20px;
	padding-right: 20px;
}

.thumb {
    margin-bottom: 30px;
}

.gallery-box {
    -moz-column-count: 4;
    -moz-column-gap: 10px;
    -webkit-column-count: 4;
    -webkit-column-gap: 10px;
    column-count: 4;
    column-gap: 10px;
}

.gallery-cell div {
    display: inline-block;
    width: 100%;
    background-color: red;
}​